# yamllint disable rule:braces
# yamllint disable rule:indentation
---
name: Run tests on CI
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
    paths:
      - "**.fish"
      - ".github/**/*.yml"
      - "!conf.d/pure.fish"

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - "**.fish"
      - ".github/**/*.yml"
  workflow_dispatch:

jobs:
  test-container:
    uses: ./.github/workflows/alpine.yml
    secrets: inherit

  test-nixos:
    uses: ./.github/workflows/nixos.yml
    secrets: inherit

  test-macos:
    if: true
    uses: ./.github/workflows/macos.yml
    secrets: inherit

  bump-version: # Bump when on master
    needs: [test-container]
    if: contains(github.ref, 'master') && github.repository == 'pure-fish/pure'
    uses: ./.github/workflows/bump-version.yml
    secrets: inherit
