name: Screenshot and Publish docs
on:
  push:
    branches:
      - master
    paths:
      - tools/screenshot.fish
      - docs/**/*

  pull_request:
    types:
      - synchronize # when commits are pushed to a PR
    paths:
      - tools/screenshot.fish
      - docs/**/*
  workflow_call:
    inputs:
      fish_version:
        description: 'The fish version used for the screenshot (e.g., 4.0.2)'
        required: true
        type: string
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare screenshot image
        run: make build-pure-screenshot FISH_VERSION=${{ inputs.fish_version || '4.0.2' }}

      - name: Take screenshot
        run: make run-pure-screenshot FISH_VERSION=${{ inputs.fish_version || '4.0.2' }}

      - name: Update changelog using releases notes
        run: make update-changelog

      - name: Deploy docs
        if: github.event_name != 'pull_request'
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: docs/requirements.txt
