name: Test on MacOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-macos:
    name: Test on fish on MacOS
    runs-on: macos-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Fish
        run: brew install fish

      - name: Install Fisher > Fishtape > Pure
        run: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher jorgebucaran/fishtape ./
        shell: fish {0}

      - name: Run Tests
        run: fishtape tests/*.test.fish
        shell: fish {0}
